
<h1 id="tableLabel">Update recipe</h1>




<table class="example-full-width" cellspacing="0">


  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="ingredient.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>details</mat-label>
        <input matInput [(ngModel)]="ingredient.details" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  


</table>

<div class="example-button-row">
  <button mat-raised-button color="accent" (click)="updateIngredient()">Save User</button>
</div>

