
<h1 id="tableLabel">Update recipe</h1>




<table class="example-full-width" cellspacing="0">


  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Rating ratingNr</mat-label>
        <input matInput [(ngModel)]="rating.ratingNr" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Rating userID</mat-label>
        <input matInput [(ngModel)]="rating.userID" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Rating recipeID</mat-label>
        <input matInput [(ngModel)]="rating.recipeID" />
      </mat-form-field>
    </td>
  </tr>
  <tr>


</table>

<div class="example-button-row">
  <button mat-raised-button color="accent" (click)="updateRating()">Save User</button>
</div>

