
<h1 id="tableLabel">Update recipe</h1>




<table class="example-full-width" cellspacing="0">


  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>User name</mat-label>
        <input matInput [(ngModel)]="user.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>User Username</mat-label>
        <input matInput [(ngModel)]="user.username" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>User mail</mat-label>
        <input matInput [(ngModel)]="user.mail" />
      </mat-form-field>
    </td>
  </tr>
  <tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>User password</mat-label>
        <input matInput [(ngModel)]="user.password" />
      </mat-form-field>
    </td>
  </tr>
  <tr>




</table>

<div class="example-button-row">
  <button mat-raised-button color="accent" (click)="updateUser()">Save User</button>
</div>

